<!-- START FOOTER -->
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container limit-height">
    	<div class="row limit-height">
				<div class="col s4 hide-on-small-only">
					<span>Copyright © 2016 <a class="grey-text text-lighten-4" href="http://www.gti.ufc.br/" target="_blank">GTi Jr.</a>Todos os direitos reservados.</span>
				</div>
	      
	      <div class="col s6 m4">
	      	<span class="right"> Desenvolvido por <a class="grey-text text-lighten-4" href="http://www.gti.ufc.br/" target="_blank">GTi Engenharia Jr.</a></span>
    		</div>

    		<div class="limit-height col s6 m4 right-align">
		  		<%= image_tag 'gti/GTi_Horizontal_Branca.png', class: 'footer-image' %>
		  	</div>
      </div>	         	
    </div>
  </div>
</footer>
<!-- END FOOTER -->
