<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <ul class="left">
          <li><h1 class="logo-wrapper"><a style="margin-top: 0px; padding-top: 8px;" href="" class="brand-logo darken-1"><img src="images/Logo-ECEJ.png"></a> <span class="logo-text">ECEJ 2016</span></h1></li>
        </ul>
        <div class="header-search-wrapper hide-on-med-and-down">
        </div>
    </div>
  </nav>
</div>
<!-- end header nav-->
</header>
<!-- END HEADER -->
