<!-- START HEADER -->
<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="almej-color">
      <div class="nav-wrapper">
        <ul class="center">
          <li>
            <h1 class="logo-wrapper"><a style="margin-top: 0px; padding-top: 8px;" href="" class="brand-logo darken-1"><img src="/images/logo-almej-1.png"></a> <span class="logo-text">ECEJ 2016</span></h1>
          </li>
        </ul>
        <div class="header-search-wrapper hide-on-med-and-down">
        </div>
        <ul class="right hide-on-med-and-down">
          <li id="profile-name">
            <% if @user.present? %>
              <a href="javascript:void(0);" class="dropdown-button active" data-activates="profile-dropdown"><%= @user.name.nil? ? @user.email : @user.name %>
                <i class="mdi-navigation-arrow-drop-down right"></i>
              </a>
            <% end %>
            <ul id="profile-dropdown" class="dropdown-content active">
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="mdi-action-face-unlock left"></i> Perfil
                <% end %>
              </li>
              <li>
                <%= link_to password_edit_path do %>
                  <i class="mdi-action-lock-outline left"></i> Alterar senha
                <% end %>
              </li>
              <li>
                <%= link_to(destroy_user_session_path, :method => :delete) do %>
                  <i class="mdi-hardware-keyboard-tab left"></i> Sair
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
    </div>
  </nav>
</div>
<!-- end header nav-->
</header>
<!-- END HEADER -->
