<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="bold">
      <%= link_to root_path do %>
      <i class="mdi-action-dashboard"></i> Home
      <% end %>
    </li>
    <li class="bold">
      <%= link_to payment_path do %>
      <i class="mdi-action-add-shopping-cart"></i> Pagamento
      <% end %>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
</aside>
