<h1>Seja&nbsp;Bem Vindo&nbsp;ao ALMEJ 2016 !</h1>
<br>
Estamos muito felizes com a sua participação no evento! Para ter acesso ao nosso sistema, clique no link abaixo:
<br>
<%= link_to "Acesse nosso sistema", root_url %>
<br>
<br>
Suas credenciais são:
<br>
email: <%= @user.email %>
<br>
senha: <%= @password %>
<br>
Esperamos você lá!<br>
