 <h3><%= @event.name %></h3>
 <table class="stripped" border="1" style="font-size: 12px;">
  <thead>
    <tr>
      <th data-field="name" style="width: 50%; ">Nome</th>
      <th data-field="email" style="width: 50%; " >Telefone</th>
    </tr>
  </thead>

  <tbody>
    <% if !@users.nil? %>
      <% @users.each do |user| %>
        <tr>
          <td style="width: 50%; "><%= user.name %></td>
          <td style="width: 50%; "><%= user.phone %></td>
        </tr>        
      <% end %> 
    <% end %>
  </tbody>
</table>
