<div class="section">
  <p class="caption center">Inscrição individual</p>
  <div class="divider"></div>
  <div class="row center">
    <section class="plans-container" id="plans">
      <article class="col s12 m4 l8">
        <div class="card z-depth-1 hoverable">
          <div class="card-image cyan waves-effect">
            <div class="card-title">Pacote Único -
              <% if @user.federation == nil %>
                <%= 'Não federado' %>
              <% else %>
                <%= 'Federado' %>
              <% end %>
            </div>
            <div class="price"><sup>$</sup><%= @total %></div>
            <div class="price-desc">Lote nome</div>
          </div>
          <div class="card-content">
            <ul class="collection">
              <li class="collection-item">15 palestras</li>
              <li class="collection-item">Estadia</li>
              <li class="collection-item">Rodas de discussão</li>
              <li class="collection-item">4 dias de evento</li>
            </ul>
          </div>
          <div class="card-action center-align">
            <%= link_to 'Pagar', payment_path, method: :post%>
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
