<div class="row">
  <section class="plans-container" id="plans">
    <% @days.each_with_index do |day, index| %>
      <article class="col s12 m12 l3">
        <div class="card hoverable">
          <div class="card-image cyan waves-effect">
            <div class="card-title">Programação</div>
            <div class="price">
              <%= "#{day[:date].day}/#{day[:date].month}" %>
            </div>
            <div class="price-desc"><%= index + 1 %>º dia de evento</div>
          </div>
          <div class="card-content">
            <ul class="collection">
              <% day[:events].each do |event| %>
                <li class="collection-item">
                  <div><%= "#{event.start.hour}-#{event.end.hour} #{event.name}" %>
                  <%= link_to enter_event_path(event), class:"secondary-content" ,method: :patch do %>
                    <i class="mdi-action-done"></i>
                  <% end %>
                  </div>
                  <!-- <a href="#!" class="secondary-content"><i class="mdi-action-done"></i></a> -->
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </article>
    <% end %>
  </section>
</div>
