<p>Olá, <%= @user.name %></p>
<p>Devido a sua posição na fila de espera, você conseguiu uma vaga <%= @lot.name %>!</p>
<p>Entre em <a href="ecej2016.com">nosso sistema</a> para efetuar seu pagamento</p>
<br />
