/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require checkout.css
 *= require hotels.scss
 *= require rooms.scss
 *= require events.scss
 */
 @import "materialize";
 @import "style";
 @import "plugins/perfect-scrollbar/perfect-scrollbar.css";
 @import "plugins/prism/prism.css";
 @import "dropify.min.css";
 @import "plugins/fullcalendar.min.css";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 //@import "plugins/fullcalendar.print.css";
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #main {
    flex: 1 0 auto;
  }

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
.input-field div.error{
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color:#FF4081;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
ul li#profile-name {
  text-align: center;
  min-width: 200px;
}
::-webkit-input-placeholder {
   color: $primary-color;
   font: 14px;
}

:-moz-placeholder {
   color: $primary-color;
   font: 14px;
}

::-moz-placeholder {
   color: $primary-color;
   font: 14px;
}

:-ms-input-placeholder {
   color: $primary-color;
   font: 14px;
}

#card-widgets div > div > a > div > img {
  height: 190px;
  width: 100%;
}
