// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.collapsible-header:after {
    font-family: "Material-Design-Icons";
    content: "\002B";
    float: right;
    color: #9e9e9e;
    font-size: 18px;
}

.collapsible-header.active:after {
    content: "\002D";
}

.card.small .card-content .btn-price {
    width: 65px;
    height: 65px;
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 65px;
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    letter-spacing: 0;
}

.card.small .card-content .icon-info {
    //font-size: 0.8rem;
    margin: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    letter-spacing: 0;
}

.card.small .card-reveal .icon-exit {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: 0;
}

.card.small .card-image .custom-chip {
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;
}


.card.small .card-image .hour-chip {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.card .card-title {
    //font-size: 18px !important;
    font-weight: 300;
}
