<h1>Seja&nbsp;Bem Vindo&nbsp;ao ALMEJ 2016 !</h1>
<br>
Estamos muito felizes com a sua participação no evento, entretanto para que você consiga acessar nosso sistema e escolher suas acomodações e programações, precisamos que confirme sua conta!
<br>
Para isso precisamos que você acesse esse link:<br>
<%= link_to "Confirme sua conta", confirmation_url(@resource, confirmation_token: @token) %>
<br>
<br>
Suas credenciais são:
<br>
email: <%= @resource.email %>
<br>
senha: <%= @resource.email.split('@')[0] %>
<br>
Esperamos você lá!<br>
