<h1>Esqueceu a senha ?</h1>
<br>
Para poder mudar a sua senha, basta acessar aqui:<br>
<%= link_to 'Nova senha', edit_password_url(@resource, reset_password_token: @token) %><br>
<br>
Qualquer dúvida ou problema! Estaremos sempre aqui para lhe ajudar.<br>
<br>
Até Breve !<br>
